<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>동구요닷컴 - 로그인</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="particles-js"></div>

<section class="container">
    <h1 class="title">로그인</h1>
    <div class="form-box">
        <input type="text" id="username" placeholder="아이디">
        <input type="password" id="password" placeholder="비밀번호">
        <button id="login-button">로그인</button>
    </div>
    <p class="link-text">계정이 없으신가요? <a href="/signup">회원가입</a></p>
</section>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
