<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note</title>
</head>
<body>
    <form action="/notes" method="post">
        <label>
            <input type="text" name="title">
        </label>
        <label>
            <input type="text" name="content">
        </label>
        <button type="submit">submit</button>
    </form>

    <br>

    <form action="/notes/json" method="post">
        <label>
            <input type="text" name="title" , id="title">
        </label>
        <label>
            <input type="text" name="content" , id="content">
        </label>
        <button type="button" onclick="submitNote()">submit</button>
    </form>

<script>
    function submitNote() {

        // 1. 입력값을 받아옴
        const titleValue = document.getElementById("title").value;
        const contentValue = document.getElementById("content").value;

        // 2. json 형태로 변환시킴

        const noteData = {
            title : titleValue,
            content : contentValue
        }

        // 3. 서버로 데이터를 전송
        fetch("notes/json", {
            method : "POST",
            headers :{
                "Content-Type" : "application/json"
            },
            body : JSON.stringify(noteData)
        })
            .then(response => response.text()) // 문자열로 응답 받기
            .then(result => {
                console.log("응답", result); // 응답 확인
                //alert("서버 응답 : ", result); // 서버 응답
            })
            .catch(error=>{
                console.error("에러 발생.", error); //에러 발생했을 때,
            });
    }
</script>
</body>
</html>