<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>동구요닷컴 - 회원가입</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="particles-js"></div>

<section class="container">
  <h1 class="title">동구요에 오신 걸 환영합니다</h1>
  <div class="form-box">
    <input type="text" id="username" placeholder="아이디">
    <input type="password" id="password" placeholder="비밀번호">
    <input type="email" id="email" placeholder="이메일">
    <button onclick="signup()">회원가입</button>
  </div>
  <p class="link-text">이미 계정이 있으신가요? <a href="/login">로그인</a></p>
</section>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
